@import '../index.css';


    .container-button {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    button{
        color: var(--gold);
        background-color: var(--burgundy);
        text-align: center;
        padding: 1rem;
        margin: 2rem; 
        border: none;
        border-radius: 10px;
        justify-self: center;
        font-family: Cinzel, senrif;
    }

    button:link, button:visited, button:active{
        text-decoration: none;
      }

      
      @media screen and (min-width:992px) { 
    
    .container-button {

        display: flex;
        align-content: center;
        justify-content: center;
    }
    button{
        color: var(--gold);
        background-color: var(--burgundy);
        text-align: center;
        padding: 1rem;
        margin: 2rem; 
        border: none;
        border-radius: 10px;
        justify-self: center;
        font-family: Cinzel, senrif;
        text-decoration: none;
        
    }
    button:link, button:visited, button:active{
        text-decoration: none;
      }
    
}