@import '../index.css';
@media screen and (max-width:992px) {

    h3 {
        margin: 1rem; 
       text-align: center;
       font-family: 'Cinzel', serif; 
       margin-top: 3rem;
       font-size: 1.2rem;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
     .cardbox {
        background-color: #F0DEBB;
        height: 15rem;
        width: 12rem;
        align-self: center;
        border-radius: 10px;
     }
    }
    
    @media screen and (max-width:1440px) {
        h3 {
            margin: 1rem; 
           text-align: center;
           font-family: 'Cinzel', serif; 
           margin-top: 3rem;
           font-size: 1.2rem;
        }
        

    
    
    }