@import '../index.css';
@media screen and (max-width:992px) {

header {
    background-color: var(--burgundy);
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 5rem;
}

h1, p {
color: var(--gold);
margin: 0.5rem;
font-family: 'Cinzel Decorative';
}

h1 {
    text-align: center;
}
}

@media screen and (max-width:1440px) { 
    header {
        background-color: var(--burgundy);
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 5rem;
    }
    
    h1, p {
    color: var(--gold);
    margin: 0.5rem;
    font-family: 'Cinzel Decorative';
    }
    
    h1 {
        text-align: center;
    }
}